body{
    background-color: rgb(89, 43, 43);
}

#map{
    width: 80%;
    border: 5px solid black;
    border-radius: 5px;
    opacity: 1;
}

#container{
    display: flex;
    justify-content: center;
    align-items: center;
    
}

